<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Craft list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item-sliding *ngFor="let receipe of receipes">
    <ion-item-divider>
      <ion-item-group>
        <ion-card-header>
          <ion-card-title>{{receipe.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{receipe.description}}</p>
          <p>> {{receipe.elements.length}} elements required :  {{getAllElements(receipe.name)}}</p>
        </ion-card-content>
      </ion-item-group>
    </ion-item-divider>
  </ion-item-sliding>
</ion-content>
